# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn clean package -DskipTests
    - name: Package file
      run: mkdir develop && cp target/*.jar develop
    - uses: actions/upload-artifact@v1
      with:
        name: Package
        path: develop
    - name: Setup SSH Keys and known_hosts
      run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"
    - name: Copy Package
      run: scp -r develop/*.jar uzdeploy@128.199.168.137:/server/usrun/dist
    - name: Deployment
      run: ssh uzdeploy@128.199.168.137 cd /server/usrun/ && ./runserver restart
